.container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  height: 50vw;
  max-height: 656px;
  min-height: 360px;
  margin: 0; 
}

.slogan {
  margin: 20px 0 0 0;
  font-size: 30px;
}

.landingBtn {
  margin: 25px;
  border: 0;
  padding: 4px 8px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  background-color: #C57F1E;
}

.landingBtn:hover {
  cursor: pointer;
  background-color: #7a4e11;
}

.navLink {
  display: flex;
  justify-content: center;
  align-items: center;
}
