@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  margin: 0;
  min-height: 100vh;

  font-family: 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #deddc8;
  background-color: #141301;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  color: #deddc8;
  text-decoration: none;
}

nav {
  overflow:hidden;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 12px 20px;
  align-items: center;
  background-color: #433f06;
  gap: 30px;
}

nav img {
  width: 50px;
}

nav ul {
  margin: 0 10px 0 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  margin-left: 35px;
  text-align: right;
}

nav a {
  text-decoration: underline;
}

nav a:hover{
  color: #939280;
}

nav button {
  margin: 0;
  border: 0;
  padding: 4px 8px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  background-color: #C57F1E;
}

nav button:hover {
  cursor: pointer;
  background-color: #7a4e11;
}