.questionCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  max-width: 980px;
  border-radius: 5px;
  background-color: #deddc8;
  color: black;
  gap: 20px;
}

.addAnswerChoiceBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #141301 2px;
  color: #141301;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-self: center;
}

.addAnswerChoiceBtn:hover {
  cursor: pointer;
  color: #5a5607;
  border-color: #5a5607;
}

.inputContainer {
  gap: 50px;
}

.answerChoicesContainer {
  margin: 0 0 0 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionTypeRow {
  display: flex;
  gap: 20px;
}